body {
    width: 100vw;
    height: 100vh;
    background: url('https://media.istockphoto.com/id/1279502184/photo/project-management-concept-with-gantt-chart.jpg?s=1024x1024&w=is&k=20&c=QSufo-YfpQBREJkc2zAqVj8PUxrOwpkGIfnTMHwDViY=');
}